<h1>Snapshots</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <% @snapshots.first.attributes.each do |key, value| %>
                <% if not ['id', 'user_id', 'updated_at'].include? key %>
                <% if key == 'created_at' %>
                    <th>Created On</th>
                <% else %>
                    <th><%= key %></th>
                <% end %>
                <% end %>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @snapshots.each do |s| %>
        <tr>
            <% s.attributes.each do |key, value| %>
            <% if key == 'created_at' %>
            <td><%= link_to(value.to_date, snapshot_path(:date => value), :method => 'POST') %></td>
            <% elsif not ['id', 'user_id', 'updated_at'].include? key %>
            <td><%= value %></td>
            <% end %>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
