<div style="margin-top: 10px;">
    <%= bootstrap_form_for(:dates, url: difference_path) do |f| %>
    <div class="field">
        <%= f.datetime_select :date_start %>
    </div>

    <div class="field">
        <%= f.datetime_select :date_end %>
    </div>

    <div class="actions">
        <%= f.submit :class => "btn btn-primary", :value => "View Status at Time" %>
    </div>
    <% end %>

</div>
