<h1>Difference</h1>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Value</th>
            <th colspan=3></th>
        </tr>
    </thead>

    <tbody>
        <% @difference_data.each do |currency, value| %>
        <tr>
            <td><%= currency %></td>
            <td><%= value.round(4) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
