<h1>Portfolio</h1>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Value</th>
            <th colspan=3></th>
        </tr>
    </thead>

    <tbody>
        <% @portfolio_data.each do |currency, amount| %>
        <tr>
            <td><%= currency %></td>
            <td><%= amount.round(6) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
